{% extends 'base.html' %}
{% load mediapath %}
{% block content %}
    <div class="col">
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <img src="{% mediapath object.image %}" alt="Картинка"  width="200" height="200"/>
                    <tr>
                        <td>Название</td>
                        <td>{{ object.title }}</td>
                    </tr>
                    <tr>
                        <td>Описание</td>
                        <td>{{ object.description }}</td>
                    </tr>
                    <tr>
                        <td>Категория</td>
                        <td>{{ object.category }}</td>
                    </tr>
                    <tr>
                        <td>Цена:</td>
                        <td>{{ object.price_for_pickup }}</td>
                    </tr>
                    <tr>
                        <td>Дата добавления:</td>
                        <td>{{ object.created_at }}</td>
                    </tr>
                    <tr>
                        <td>Дата обновления:</td>
                        <td>{{ object.updated_at }}</td>
                    </tr>
                    <tr>
                        <td>Автор:</td>
                        <td>{{ object.author }}</td>
                    </tr>
                </table>
            </div>
            <button type="button" class="btn btn-lg btn-block btn-outline-primary">Купить</button>
        </div>
    </div>
{% endblock %}